<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaseProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A6EB9501F5540EE00FB32DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A6EB9691F5540EF00FB32DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A6EB9741F5540EF00FB32DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
